<% unless comment.archived? %>
  <div id="comment">
    <strong><%= comment.commenter %></strong>
    <br>
    <%= comment.body %>
    <br>

    <div id = "comment_trash">
      <%= link_to "🗑", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Delete comment?"
                  } %>
    </div>
  </div>
  <br>
<% end %>
