<% unless comment.archived? %>
  <p id="comment">
    <strong><%= comment.commenter %></strong>
    <br>
    <%= comment.body %>
    <br>

    <%= link_to "🗑", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Delete comment?"
                } %>
  </p>
<% end %>
