<div class="concept_list">
  <div class="concept_header concept_row">
    <div class="concept_id">#</div>
    <div class="concept_name">Concept Name</div>
    <div class="concept_spacer"></div>
    <div class="concept_cluster">Cluster</div>
    <div class="concept_stars">Request Stars</div>
  </div>
  <%= render @article.concepts, show_delete: show_delete %>
</div>