<h1>Hello, milo is cool!</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <b>
      	<%= link_to article.title, article %>
      </b>
      <%= article.body %>
    </li>
  <% end %>
</ul>